.card-grid {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card-grid img {
	height: 400px;
	width: 400px;
  border-radius: 15px;
	object-fit: scale-down;
}

.card-box {
	box-sizing: content-box;
	margin: 10px;
	overflow: hidden;
	display: inline-block;
	position: relative;
}

.card-sponsor {
	--bs-card-spacer-y: 1rem;
	--bs-card-spacer-x: 1rem;
	--bs-card-title-spacer-y: 0.5rem;
	--bs-card-title-color: ;
	--bs-card-subtitle-color: ;
	--bs-card-border-width: var(--bs-border-width);
	--bs-card-border-color: var(--bs-border-color-translucent);
	--bs-card-border-radius: var(--bs-border-radius);
	--bs-card-box-shadow: ;
	--bs-card-inner-border-radius: calc(
		var(--bs-border-radius) - (var(--bs-border-width))
	);
	--bs-card-cap-padding-y: 0.5rem;
	--bs-card-cap-padding-x: 1rem;
	--bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
	--bs-card-cap-color: ;
	--bs-card-height: ;
	--bs-card-color: ;
	--bs-card-bg: var(--bs-body-bg);
	--bs-card-img-overlay-padding: 1rem;
	--bs-card-group-margin: 0.75rem;
	position: relative;
	display: flex;
	flex-direction: column;
	height: var(--bs-card-height);
	word-wrap: break-word;
	background-color: var(--bs-card-bg);
	background-clip: border-box;
	border: var(--bs-card-border-width) solid var(--bs-card-border-color);
	border-radius: var(--bs-card-border-radius);
	width: 400px;
	height: 575px;
}

div.sponsor-card-grid > img:hover {
	cursor: pointer;
}

div.sponsor-card-grid:active {
	opacity: 0.9;
}