.gallery-image {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery-image img {
	height: 350px;
	width: auto;
	margin: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.arrows {
	position: relative;
	top: 50%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.prev,
.next {
	background-color: hsl(210, 50%, 50%);
	color: #ffffff;
	border-radius: 10px;
	border: none;
	font-size: 20px;
	cursor: pointer;
	width: 80px;
	height: 40px;
	margin: 10px;
}
