nav.navbar {
    z-index: 99;
    transition: 0.4s;
}

img#logo {
    transition: 0.4s;
}

a.nav-link {
    transition: 0.4s;
}

button.navbar-toggler {
    transition: 0.4s;
}

div.sponsor-card:hover {
    transform: translateY(-10px);
    cursor: pointer;
    box-shadow: hsl(0, 0%, 40%) 0 10px 7px;
    transition: transform 0.4s, box-shadow 0.2s ease-out;
}

div.sponsor-card:active {
    transform: none;
    box-shadow: inset 4px 4px 4px hsl(0, 0%, 40%), 2px 2px 2px hsl(0, 0%, 40%);
    transition: transform 0.4s, box-shadow 0.4s;
}

ul.navbar-nav>li.nav-item {
    margin: 0 5% 0 0;
}

div.member-card {
    display: flex;
    flex-direction: row;
    align-items: start;
}

div.card-body.person-desc {
    max-height: 200px;
    overflow: scroll;
}

div.img-holder {
    height: min-content;
    width: max-content;
}

img.person-img {
    height: 200px;
    width: auto;
    overflow: hidden;
}

p.card-text.fs-6 {
    font-size: 14pt !important;
    line-height: 1.15;
}

@media only screen and (max-width: 700px) {
    img.person-img {
        height: 150px;
    }

    div.card-body.person-desc {
        max-height: 150px;
    }

    div.container.members {
        width: 90vw !important;
    }
}